body {
  margin:0;
}

h1{
    width: 800px;
    text-align: left;
    font-size : 4em;
    font-family: JosefinSans, sans-serif;

}
h2,.home{
    font-family: JosefinSans, sans-serif;
    height: 900;
    width: 800px;
    text-align: left;
}
.main{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    transform: translateX(50%);
}

.backto {
    font-family: JosefinSans, sans-serif;
    color: #555;
    font-size: 12px;
}