@font-face {
    font-family: JosefinSans;
    src: url(/frontend/fonts/JosefinSans-Regular.ttf)
}

html {
    min-width: 100%;
    width: fit-content;
    max-height: 100vh;

}


body {
    margin: 0;
    padding: 0;
    background: url("/frontend/img/comingsoon.jpg") no-repeat;
    background-size: cover;
    min-width: 100%;
    width: fit-content;
    max-height: 100vh;
}
.overlay {
    margin: 0;
    background: #004400af;
    background-size: cover;
    min-width: 100%;
    width: fit-content;
    min-height: 100vh;
    max-block-size: 100vh;

}


h1{
    margin: 0%;
    padding-top: 5em;
    text-align: center;
    font-size : 4em;
    color: white;
    font-family: JosefinSans, sans-serif;


}
h2{
    font-family: JosefinSans, sans-serif;
    text-align: center;
    color: white;
}

.backto, .home {
    font-family: JosefinSans, sans-serif;
    text-align: center;
    color: white;
    text-decoration: none;
    
}

.backto:hover {
    color: rgb(120, 189, 245);
}